<h1>Welcome, have a nice day</h1>
   
<h2>Lista de Productos</h2>
<ul>
  {{#each products}}
    <li>
      <h3>{{this.title}}</h3>
      <p>{{description}}</p>
      <p>Precio: {{price}}</p>
    </li>
  {{/each}}
</ul>